.star-rating {
  display: inline-block;
}

.star {
  display: inline-block;
  color: #ddd;
  font-size: 1.5em;
}

.star.filled {
  color: #f8c32d;
}

@media only screen and (max-width: 600px) {
  .star-rating {
    font-size: 2rem;
    text-align: center;
  }
}
