.button {
  padding: 10px 20px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #571092;
}

.button:active {
  background-color: #004080;
}
