.gallery {
  width: 100%;
  margin-top: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.grid-item {
  width: 100%;
  padding: 0;
}

.grid-item h4 {
  margin-bottom: 10px;
}

.grid-item-title {
  min-height: 2rem;
}

.grid-item img {
  width: 100%;
  border-radius: 5px;
}

.badge {
  display: inline-block;
  padding: 2px 5px;
  margin: 5px;
  font-size: 12px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 15px;
}

.price {
  font-weight: bolder;
  font-size: medium;
  margin: 10px 0;
}

@media only screen and (max-width: 600px) {
  .gallery {
    width: 100vw;
    margin-top: 1rem;
    text-align: center;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .grid-item {
    border: none;
    border-radius: 0;
  }

  .grid-item h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }

  .grid-item-title {
    min-height: auto;
  }

  .grid-item img {
    width: 100%;
  }

  .badge {
    display: none;
  }

  .price {
    margin: 5px 5px;
  }
}
