.gallery {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: aquamarine;
  width: 100%;
}

.grid-item {
  border: thin skyblue solid;
  width: 100%;
}

.grid-item img {
  width: 100%;
  height: auto;
}
